* {
  box-sizing: border-box;
}
div {
  cursor: default;
}
a {
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav {
  width: 22.44%;
  background: #353541;
  height: 2500px;
  img {
    width: 100%;
  }
}
.nav-img {
  position: relative;
}
#nav-img-btn {
  position: absolute;
  left: 45px;
  top: 7px;
  color: #fb6470;
  font-size: 45px;
}
.nav-img-tittle {
  top: 145px;
  left: 29px;
  position: absolute;
  h2 {
    font-size: 32px;
    letter-spacing: 0.8px;
    color: white;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: white;
  }
}
.nav-link {
  margin-top: 6px;
  margin-bottom: 5px;
  a {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
  }
}
.nav-line {
  width: 100%;
  height: 2px;
  background: black;
}
.main-container {
  width: 77.56%;
}
header {
  vertical-align: center;
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 115px;
  color: white;
  h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 36.48px;
    letter-spacing: 2.3px;
    margin-left: 12.73%;
    margin-bottom: 18px;
  }
  p {
    text-align: center;
    width: 59%;
    margin-left: 16.2%;
    margin-bottom: 55px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 29px;
    font-weight: 500;
  }
  a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 36.48px;
    letter-spacing: 0.3px;
    background: #fb6470;
    padding: 13px 42px 12px 42px;
    border-radius: 5px;
    margin-left: 36.63%;
  }
}
main {
  padding: 71px 95px 80px 115px;
  h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.7px;
    color: #3e3e3e;
    margin-bottom: 6px;
  }
}
.main-line {
  width: 76px;
  height: 2px;
  background: #fb6470;
}
.main-services-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.main-services-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #3e3e3e;
}
.active {
  margin-left: 17px;
}
svg {
  width: 100%;
  height: 68px;
  overflow: visible;
}
.main-img-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.main-img {
  width: 48.58%;
  img {
    width: 100%;
  }
  h4 {
    margin-top: 15px;
    margin-left: 17px;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: white;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-left: 17px;
    margin-bottom: 19px;
    color: white;
    opacity: 0.7;
  }
  a {
    font-size: 14px;
    font-weight: 200;
    margin-left: 17px;
    color: white;
    opacity: 0.7;
  }
}
.main-img-line {
  width: 92px;
  height: 2px;
  margin-top: 2px;
  background: white;
  margin-left: 17px;
  margin-bottom: 19px;
  opacity: 0.7;
}
.main-img-bg-1 {
  background: #01b9c3;
}
.main-img-bg-2 {
  background: #1e2e3e;
}
.main-img-bg-3 {
  background: #3f3d3e;
}
.main-img-bg-4 {
  background: #0093b5;
}
.main-img-bg-5 {
  background: #353541;
}
.main-img-bg-6 {
  background: #6176ab;
}
.contacts-container {
  margin-top: 45px;
}
.contacts-form {
  h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #3e3e3e;
  }
  button {
    margin-left: 170px;
    width: 95px;
    height: 35px;
    background: #fb6470;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}
.contacts-container {

  display: flex;
  justify-content: space-between;
}
.contacts-form {
  width: 38%;
}
.contacts-form-border {
  padding-left: 10px;
  width: 265px;
  height: 35px;
  border: black 1px solid;
  margin-bottom: 20px;
}
.conracts-form-message {
  height: 95px;
  margin-top: 2px;
  resize: none;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: #3e3e3e;
  font-style: italic;
}
textarea::-webkit-input-placeholder {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: #3e3e3e;
  font-style: italic;
}
.contacts-line {
  margin-top: 33px;
  margin-left: 4px;
  width: 1px;
  height: 250px;
  background: black;
}
.contacts {
  width: 46%;
}
.contacts-wrapper {
  display: flex;
  margin-bottom: 16px;
}
.contacts-img {
  margin-right: 42px;
  margin-top: 31px;
}
.contacts-info {
  h5 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #3e3e3e;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #3e3e3e;
  }
}
footer {
  margin-top: 15px;
  text-align: center;
  height: 100px;
  p {
    font-size: 12px;
    font-weight: 500;
    color: #3e3e3e;

  }
}
.footer-container {
  display: flex;
  width: 116px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.footer-icon {
  a {
    color: black;
    font-size: 20px;
  }
}
.footer-icon-color {
  a {
    color: #01b9c3;
  }
}
.footer-line {
  width: 1px;
  height: 17px;
  background: black;
  margin-left: 14px;
  margin-right: 14px;
}

